<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/client.css" type="text/css" />
</head>

<body>
  <div class="container">

    <div class="navbar">
      <a href="/web/addClient">Add Client</a>
      <a href="/web/courts">Show Courts</a>
      <div class="dropdown">
        <button class="dropbtn">External Methods
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/web/deleteAll">Delete All Clients</a>
          <a href="/web/deleteRandomReservation">Delete Random Reservation</a>
        </div>
      </div>
    </div>

    <div class="clientsTable">
      <% if (client.length > 0) {%>
      <table>
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Client Actions</th>
          </tr>
        </thead>
        <tbody>
          <% client.forEach((client, index) => { %>
          <tr>
            <th><%= client.id %></th>
            <td><%= client.first_name %></td>
            <td><%= client.last_name %></td>
            <td><%= client.phone_number %></td>
            <td><%= client.email %></td>
            <td>
              <a href="/web/editClient/<%= client.id %>">Edit</a>
              |
              <a href="/web/deleteClient/<%= client.id %>"
                onclick="return confirm('Are you sure you want to delete the client?');">Delete</a>
              ----->
              <a href="/web/clientReservations/<%= client.id %>">Show Client Reservation</a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <div class="pagination">
        <a href="#">&laquo;</a>
        <% for(var i = 1; i <= clientsAmount; i++) { %>
        <a href="<%= i %>"><%= i %></a>
        <% } %>
        <a href="#">&raquo;</a>
      </div>
      <% } else { %>
      <p>No client found.</p>
      <% } %>
    </div>
  </div>
</body>

</html>