<!DOCTYPE html>
<html lang="en">
  
  <head>
    <style>
    table, th, td {
      border: 1px solid black;
    }
    </style>
  </head>

  <body>
    <div>
      <div>
        <% if (reservation.length > 0) {%>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Court</th>
              <th>Date</th>
              <th>Client ID</th>
              <th>Reservation Actions</th>
            </tr>
          </thead>
          <tbody>
            <% reservation.forEach((reservation, index) => { %>
            <tr>
              <th scope="row"><%= reservation.id %></th>
              <td><%= reservation.court_id %></td>
              <td><%= reservation.reservation_date %></td>
              <td><%= reservation.client_id %></td>
              <td>
                <a href="/web/editReservation/<%= reservation.id %>" >Edit</a>
                |
                <a href="/web/deleteReservation/<%= reservation.id %>" onclick="return confirm('Are you sure you want to delete the reservation?');">Delete</a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <div class="pagination">
          <a href="#">&laquo;</a>
          <a href="#">&raquo;</a>
        </div>
        <hr>
        <% } else { %>
        <p>No reservation found.</p>
        <% } %>
      </div>
      <hr>
      <a href="/web/addReservation/<%= clientId %>" >Add Reservation</a>
      <hr>
      <a href="/web/clients/1">Clients List</a>
    </div>
  </body>
</html>
